<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/aboutUs.css"/>
</head>
<body>

<div class="container">
    <h1>About Us</h1>

    <p>
        Welcome to our online courses platform! We are dedicated to providing high-quality education and empowering
        individuals to enhance their skills and knowledge.
    </p>

    <div class="card">
        <span class="icon">&#128214;</span>
        <h2>Mission</h2>
        <p>
            Our mission is to make learning accessible to everyone, anywhere. We strive to offer engaging and
            informative courses that cater to diverse interests and learning styles.
        </p>
    </div>

    <div class="card">
        <span class="icon">&#127757;</span>
        <h2>Vision</h2>
        <p>
            Our vision is to create a global community of learners who can explore new horizons and achieve their goals
            through the power of education. We aim to be a catalyst for positive change.
        </p>
    </div>

    <div class="card">
        <span class="icon">&#9998;</span>
        <h2>Achievements</h2>
        <p>
            We take pride in our learners' achievements. Your success is our success. Join us on this educational
            journey, and let's celebrate the milestones together.
        </p>
    </div>
</div>

</body>
</html>
