<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0"/>
    <title>Online Courses Platform</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Candal|Lora" rel="stylesheet">

</head>
<body>
<!--  HEADER-->
<section class="header">
    <nav>
        <div class="nav-links">
            <ul>
                <li><a href="/aboutUs">ABOUT</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </nav>

    <div class="text-box">
        <h1>Online Courses Platform</h1>
        <p>
            Learn new things, improve your skills and explore your creativity online.
            A practical anytime, anywhere education.Create you
            account and get started now.
        </p>

        <div class="search-bar">
            <div class="search-options">
                <select class="input-box" id="courseCategorySelect">
                    <option value="">Select Category</option>
                    <option value="Web Development">Web Development</option>
                    <option value="Mobile Development">Mobile Development</option>
                    <option value="Data Science">Data Science</option>
                    <option value="Cloud Computing">Cloud Computing</option>
                    <option value="Software Testing">Software Testing</option>
                    <option value="Project Management">Project Management</option>
                </select>
            </div>
            <div class="search-input">
                <input type="text" class="input-box" placeholder="Search..."/>
            </div>
            <button class="search-icon">&#128269;</button>
        </div>
    </div>
</section>

<!--SLIDE SECTION-->
<section>
    <div class="slider-container">
        <div class="slider">
            <img src="/images/image1.jpg" alt="Image 1">
            <img src="/images/image2.jpg" alt="Image 2">
            <img src="/images/image3.jpg" alt="Image 3">
            <img src="/images/image4.jpg" alt="Image 4">
            <img src="/images/image5.jpg" alt="Image 5">
            <img src="/images/image6.jpg" alt="Image 6">
            <img src="/images/image8.jpg" alt="Image 7">
            <img src="/images/image9.jpg" alt="Image 8">
            <img src="/images/image10.jpg" alt="Image 9">
            <img src="/images/image11.jpg" alt="Image 10">
            <img src="/images/image12.jpg" alt="Image 11">
            <img src="/images/image14.jpg" alt="Image 12">
            <img src="/images/image13.jpg" alt="Image 13">
            <img src="/images/image15.jpg" alt="Image 14">
            <img src="/images/images16.jpg" alt="Image 15">
            <img src="/images/image17.jpg" alt="Image 16">
            <img src="/images/image18.jpg" alt="Image 17">
            <img src="/images/image19.jpg" alt="Image 18">
            <img src="/images/body.jpg" alt="Image 19">
            <img src="/images/image1.jpg" alt="Image 1">
            <img src="/images/image2.jpg" alt="Image 2">
            <img src="/images/image3.jpg" alt="Image 3">
            <img src="/images/image4.jpg" alt="Image 4">
            <img src="/images/image5.jpg" alt="Image 5">
            <img src="/images/image6.jpg" alt="Image 6">
            <img src="/images/image8.jpg" alt="Image 7">
            <img src="/images/image9.jpg" alt="Image 8">
            <img src="/images/image10.jpg" alt="Image 9">
            <img src="/images/image11.jpg" alt="Image 10">
            <img src="/images/image12.jpg" alt="Image 11">
            <img src="/images/image14.jpg" alt="Image 12">
            <img src="/images/image13.jpg" alt="Image 13">
            <img src="/images/image15.jpg" alt="Image 14">
            <img src="/images/images16.jpg" alt="Image 15">
            <img src="/images/image17.jpg" alt="Image 16">
            <img src="/images/image18.jpg" alt="Image 17">
            <img src="/images/image19.jpg" alt="Image 18">
            <img src="/images/body.jpg" alt="Image 19">
        </div>
    </div>
</section>

<!--COURSES-->
<section class="course">
    <h1>Courses We Offer</h1>
    <p>
        Here at our community you will find classes related to science, social
        subjects and art.
    </p>
    <div id="cartContainer" class="row"></div>
</section>

<section class="explore">
    <h1>
        Explore thousands of classes here at <br/>our online
        learning community.
    </h1>
</section>
<!--REVIEWS-->

<section class="reviews">

    <div class="wrapper">
        <h1>Our Reviews</h1>
        <div class="team">
            <div class="team_member">
                <div class="team_img">
                    <img src="/images/team1.png" alt="Team_image">
                </div>
                <h3>Paul Doe</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere
                    dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="team_member">
                <div class="team_img">
                    <img src="/images/team2.png" alt="Team_image">
                </div>
                <h3>Anna Smith</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere
                    dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
            <div class="team_member">
                <div class="team_img">
                    <img src="/images/team3.png" alt="Team_image">
                </div>
                <h3>Alex Wood</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere
                    dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

        </div>
    </div>

</section>
<!--FOOTER-->
<section>
    <footer class="footer">
        <div class="footer-container">
            <div class="row">
                <div class="footer-col">
                    <h4>Online Courses</h4>
                    <ul>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">pro program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>contact us</h4>
                    <div class="contact">
                        <span><i class="fas fa-phone"></i> &nbsp; 123-456-789</span>
                        <br>
                        <span><i class="fas fa-envelope"></i> &nbsp; info@group2.com</span>
                    </div>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>

<script id="card-template" type="text/template">
    <div class="card-body">
        <h5 class="card-title">{{courseTitle}}</h5>
        <i class="fa fa-user" style="margin-right: 2px;"> &nbsp</i>{{courseAuthor}} &nbsp &nbsp
        <i class="fa fa-calendar" style="margin-right: 2px;"> &nbsp</i>{{courseDate}}
        <p class="card-text"><strong>Category:</strong> {{courseCategory.categoryName}}</p>
        <p class="card-text"><strong>Content:</strong> {{courseContent}}</p>
    </div>
</script>


<!--SCRIPTS-->
<script src="/libraries/mustache.js"></script>
<script src="/libraries/slides.js"></script>
<script src="/scripts/RestServiceModule.js"></script>
<script src="/scripts/CourseApiModule.js"></script>
<script src="/scripts/CardModule.js"></script>
<script src="/scripts/AppModule.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>